* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-text {
    margin:12px auto;
    color:#e91414;
    padding: 6px 0;
    font-size: 1.1rem;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.times_inputs {
    color: #666;
    font-size: 1.2rem;
}

.times_inputs input {
    border: 1px solid #ccc;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 6px;
}

.btn {
    border: none;
    box-shadow: 0 1px 1px #333;
    margin: 0 3px;
    border-radius: 6px;
    padding: 14px 12px;
    min-width: 100px;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
}

.btn:disabled {
    opacity: 0.5;
}

.btn_start {
    background-color: #00ff00;
}

.btn_pause_resume {
    background-color: #6db4f7;
    display: none;
}

.btn_stop {
    background-color: #e42828;
    color: #fff;
    display: none;
}

.btn_reset {
    background-color: #ffee00;
    display: none;
}

.progressbar_container {
    position: relative;
    width: 50%;
    height: 14px;
    margin: 45px auto 10px;
    background-color: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
}

.progressbar_container .progressbar {
    background-color: rgb(0, 150, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: width 0.5s ease-in-out , background-color 0.6s ease-in-out;
    -moz-transition: width 0.5s ease-in-out , background-color 0.6s ease-in-out;
    -o-transition: width 0.5s ease-in-out , background-color 0.6s ease-in-out;
    transition: width 0.5s ease-in-out , background-color 0.6s ease-in-out;
}

.progressbar_container .progressbar.middle {
    background-color: #ddf508;
}

.progressbar_container .progressbar.low {
    background-color: #ff2f2f;
}

.myGithub {
    display: inline-block;
    margin-top: 65px;
}

.myGithub img {
    max-width: 30px;
}