* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.times_inputs {
    color: #666;
    font-size: 1.2rem;
}

.times_inputs input {
    border: 1px solid #ccc;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 6px;
}

.btn {
    border: none;
    box-shadow: 0 1px 3px #888;
    margin: 0 3px;
    border-radius: 6px;
    padding: 14px 12px;
    min-width: 100px;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
}

.btn:disabled {
    opacity: 0.5;
}

.btn_start {
    background-color: #00ff00;
}

.btn_pause_resume {
    background-color: #6db4f7;
    display: none;
}

.btn_stop {
    background-color: #e42828;
    color: #fff;
    display: none;
}

.btn_reset {
    background-color: #ffee00;
    display: none;
}